<div class="container h-100">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-7">
          <div class="card">
            <div class="card-header">
              <h4 class="mt-2">View School</h4>
            </div>
            <div class="card-body background">
              <h2 class="mb-3"><%= @school.name %></h2>
            </div>
          </div>
        </div>
      </div>

      <%= link_to 'Edit', edit_school_path(@school), class: "btn btn-outline-primary mt-2" %>
      <%= link_to 'Back', schools_path, class: "btn btn-outline-primary mt-2"  %>

    </div>
  </div>
</div>
